<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Mandom{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <!-- PWA / install on phone -->
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="#0c0a12">
  <link rel="icon" href="/static/icon-192.png">
  <link rel="apple-touch-icon" href="/static/icon-192.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Mandom">
  <meta name="mobile-web-app-capable" content="yes">
</head>
<body>
  <div id="bg"></div>
  <div id="bg-veil"></div>

  <header class="topbar glass">
    <a href="/" class="brand">
      <span class="brand-mark">MANDOM</span>
      <span class="brand-sub">manga downloader app.</span>
    </a>
    <div class="brand-art-wrap" aria-hidden="true"><pre class="brand-art">
⢡⠔⣱⠈⠐⡆⠀⠀⡠⡷⠃⠅⢄⠃⠀⠀⡀⠁⠀⠀⠀⡂⠀⠀⣀⠠⠰⠈⠀⠀⣸⡃⠀⠀⡊⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⠅⡇⢡⠱⣛⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢣⠀⢀⠔⣁⣀⣄⡘⢀⠔⠀⠨⢘⢱⡑⠌⢳⡻⣿⡇⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀
⢑⡴⡆⠄⠂⡗⠀⡰⢸⠇⠀⠘⠀⠀⡠⠊⠀⠀⠀⠀⠠⠀⠀⠔⠂⠁⠀⠠⠂⠀⡾⠀⠀⠀⢵⢱⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⡅⡐⢅⢣⢛⣆⠒⠲⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣧⣡⠝⠉⠁⢹⣇⠂⠀⠀⠀⢃⠆⡇⠪⡢⡛⡾⡅⠀⠀⠀⠀⠀⠀⣺⡧⠀⠀⠀
⠈⡴⠨⠢⡀⡯⠜⠁⡞⠅⢆⠈⢒⠋⠀⠀⢀⢀⡠⠔⠁⠀⠀⠀⠀⠀⠀⡌⠄⢠⡇⠀⠀⠀⠸⢸⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⡌⡜⠘⡄⢻⡄⠀⢰⡇⠀⠀⠀⠀⠀⠀⠀⠀⢈⢋⢀⡀⠀⠀⠈⡺⡀⠀⠀⠀⠈⠃⢸⡀⣉⡚⢨⢡⠀⠀⠀⠀⠀⣠⡃⠁⠀⠀⠀
⠀⢁⡏⢎⢼⣇⠀⢠⡯⢐⠤⡁⠄⣈⠐⠂⠈⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⡑⠀⣸⠁⠀⠀⠀⠈⡎⣣⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⣷⢅⠅⠀⢻⡎⣼⠁⡀⠄⣄⠄⠢⠂⠐⡰⠍⠀⠀⠀⠁⡢⠂⢗⠀⠀⡠⠂⠰⠀⣸⡄⠻⢿⡶⣷⣤⣀⣀⡀⠀⡌⠁⠀⠀⡤⢄
⠀⠘⢵⢑⡱⣶⣧⣾⠡⢣⠀⠀⠁⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠨⠓⠀⣿⠀⠀⠀⠀⠀⠰⠇⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⢹⡅⠀⠀⠈⢾⢇⠈⠍⡑⠄⡀⠀⢀⢞⠀⠀⠀⠀⢠⠪⢉⠢⡸⢦⠊⠀⠀⢘⠀⡖⣇⠥⢨⢿⡄⠈⡀⡒⡼⡵⠇⠀⠀⠀⣇⠩
⠀⠀⣿⠰⣿⣾⣿⣿⡃⡕⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠆⢰⣟⠀⠀⠀⠀⠀⠀⢱⢜⡇⠀⠀⢀⣴⠁⠀⠀⠀⠀⢀⣤⡞⠀⠀⠘⠃⠀⠀⠀⠈⣷⠈⠐⠠⣁⠪⣲⠋⠁⠉⠁⢂⠔⢁⢀⣀⣑⣬⠆⠀⠀⠀⠐⢰⡏⡊⢆⡐⠀⣧⠖⡪⠙⠀⡰⡡⠀⠐⡀⠸⣞
⠀⠀⡍⢸⣿⣿⣿⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢀⢊⣀⣼⣟⠀⠀⠀⠀⠀⢀⣿⠈⢯⢀⣴⣿⠇⠀⠀⣠⣴⣾⣿⠫⠒⠉⠉⣊⣬⠼⠖⠓⠓⠛⠛⠺⢾⣲⣾⠃⠀⠀⠀⡠⢪⢩⢍⠲⢲⡠⣰⠀⠀⠀⠀⡀⣿⠑⠸⠸⡃⠨⢸⡅⡄⢂⠡⠂⢹⡀⠀⢡⠀⢹
⠀⠀⢖⢸⣿⣿⣿⣿⣿⣿⣶⣶⣦⣤⣀⡀⠀⠀⠀⠀⠀⢀⢠⣴⣷⣷⣿⣿⣿⡧⣜⢔⣄⣴⠀⣼⡇⣗⣵⣿⣿⢏⣠⣶⣿⣿⡿⠛⠁⠀⣠⡴⠋⠁⠀⠀⣀⡀⠀⠀⠀⠀⠀⠻⣇⠀⠀⠀⡰⠃⠑⢅⠣⡪⡢⢅⢻⠀⠀⠀⠀⠄⣇⠀⠀⠀⢡⢣⢁⢷⠊⠁⡀⡴⢉⢷⠀⠀⠆⠀
⠀⠀⡝⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣸⠕⢝⠶⣱⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣾⣷⣶⣾⡶⠟⢋⣁⣀⣤⣠⣀⣀⡀⠀⣿⠶⣤⠴⡡⡀⠀⠀⠈⠊⢜⠥⢺⠀⠀⠀⠠⢣⢃⠙⠔⡤⡘⡂⠜⠯⡖⢩⣴⠁⠀⠈⡆⠀⠸⠀
⠀⠀⣯⣿⠿⠿⠿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⣿⣺⢖⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣦⣭⣭⣥⣤⣤⣤⠦⢙⢜⣄⡏⢦⢑⢕⣌⠪⡢⣀⠀⠀⠀⠑⠺⠀⠀⢀⠊⠀⠪⢳⣢⢄⡁⡏⡼⣁⠟⣜⠘⢷⡀⠀⠘⠧⠀⢃
⠃⠰⠇⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠉⠉⠉⠉⠉⠋⠛⠛⠛⠛⠛⠟⠿⠿⠿⣹⡿⣨⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣛⣙⣀⡇⣈⣺⣘⡫⠌⣕⢵⢌⡪⡦⣑⢕⢤⠀⠀⠀⠣⡀⢊⡀⢄⡣⡢⢌⠚⢆⢟⢄⡁⠣⢖⢄⡀⢻⡄⠀⠀⠀⢨
⠠⡓⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣛⢭⡆⠀⠀⠑⢝⠮⡪⡑⣗⣅⠫⣲⢄⠀⠁⠁⠈⠐⠬⡪⢕⠭⡢⢌⠋⢞⡖⡤⡡⣚⢔⢻⣦⡄⠀⠀
⢕⣁⣀⣀⡀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⡿⡻⠛⠣⠉⠊⠆⠏⠟⠟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣭⣥⣮⣤⡴⠜⠑⠑⠚⠒⠛⠚⠏⠖⠽⠻⠬⠳⡗⣦⣀⣀⣀⣀⢈⠓⢭⡪⢗⢭⡢⣌⠋⢷⢱⢤⠩⠉⠿⣦⡀
⠫⠮⠔⠄⠩⡉⣛⢛⢛⢉⢑⠕⠶⠲⠖⠒⠢⠢⠤⠤⠤⠤⢄⢄⣀⣀⡀⣼⣿⣿⣿⠟⠉⠀⠀⠀⡠⠀⠀⠀⠀⠈⠍⢍⢿⣿⣿⣿⡿⠛⠻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣫⠱⡸⣀⣀⡀⠤⠐⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠉⠉⠉⠉⠉⠊⠓⠛⠒⠪⣦⢄⣛⠽⡻⢻
⢈⠈⠈⠁⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⣀⣀⡀⡀⠀⠄⠤⢤⢄⣄⠢⣾⣿⣿⡏⠂⠀⠀⢀⠔⠈⠀⠀⠀⠀⠀⠀⠀⠀⠉⢹⡿⠟⡠⢎⣰⠈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⢿⢿⣢⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣟⠕⠁⠀⠀
⢼⠠⣐⣐⢒⡐⡆⢦⢡⢍⢍⠕⠕⠕⠔⡔⢜⣘⡙⣙⠘⠬⠌⠍⠌⠕⠘⣿⣿⠀⠀⢠⡴⠋⢀⠠⣢⡄⠄⠀⠀⠀⠀⠀⠀⠈⡇⠰⢁⢴⡈⠂⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠷⢒⠪⢭⣛⠲⠤⣀⡀⣀⡀⡀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠏⠀⢀⠔⣪
⠨⠡⠬⠨⠁⠑⠒⠒⠒⠐⠈⠈⠉⠉⣁⣀⡀⡀⡀⡤⡤⡤⡠⠠⠢⠶⠖⢽⠇⠀⠠⠟⠀⢔⡶⣻⣻⠕⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠸⠵⠢⠀⣼⣿⣿⣿⣿⠿⣿⣿⣿⣿⠄⠈⠀⢠⠖⠀⢸⠀⠀⠁⠙⠰⢺⣬⣈⠉⡉⡉⠩⠼⠲⠒⠒⠒⠒⠤⠤⠤⠤⠤⠤⡠⡀⠄⣊⠮⠊⠀
⡠⢤⣤⢰⠐⠢⠲⠲⠢⠃⠙⠘⠊⠃⠁⠀⠁⠁⠁⡀⣀⣀⡀⠄⠤⠤⢤⣿⣄⠀⠀⠀⠀⢸⣧⡿⠼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⢀⡠⠟⠋⠋⠁⠀⠀⡧⡕⡉⣿⠀⢈⢉⠉⠀⠀⢐⠆⠀⠀⠀⠀⠐⠋⡾⠽⡶⢤⣄⡀⠀⠀⠀⠀⡀⣀⣀⢀⠠⠠⡄⠂⣡⠚⠁⠀⡀⣤
⡉⡀⣀⢀⠠⠠⠄⠄⡄⢔⢒⡒⡐⠤⠥⡍⡍⡅⡇⠖⢆⢆⢌⢍⡛⠎⠎⢻⣆⣷⠄⠀⠀⠊⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⡻⡁⠀⠀⠀⠀⠀⠀⠀⡸⡐⠡⠆⠀⠈⠑⠂⠃⠀⠔⠄⠀⠀⠀⢀⠔⡁⠂⠀⠀⠉⠫⢟⡷⣯⣍⡲⡢⠶⠼⢹⠘⢈⡴⠙⠀⠀⡠⠲⣍⡖
⢒⠲⡲⣤⡡⡉⠋⠗⠮⠆⠡⠑⠙⠓⠃⠂⠁⠉⠈⠁⠁⠀⠀⠀⡀⣀⡀⡀⡨⠎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⡄⠀⠀⠀⠀⠀⠨⡾⠒⠁⠀⠀⠀⠀⠀⠀⠀⡌⠆⡕⠐⠖⢓⡆⠀⠀⢌⠊⠀⠀⢀⢔⢅⠂⠀⠀⠀⠀⠀⠀⠀⠈⠛⠽⣻⢦⡭⠊⣡⠪⠋⠀⢀⠔⢊⢜⢮⠦⡋
⡅⠁⠀⠀⠀⠀⠀⡀⣀⣀⡀⠄⠄⠤⠄⠔⠐⠐⠂⠂⠁⠉⠈⠀⠀⠀⢀⡴⠃⠀⠀⠀⠀⠀⠀⠀⢀⡠⠔⡾⠋⠀⠀⠀⠀⠀⠀⠈⡆⠀⠀⡀⠀⠀⠀⠀⠀⠀⡃⡡⢁⠀⠀⠀⠁⢀⠪⠂⠀⢀⠔⢡⠇⠁⢀⠐⡠⠚⠀⠀⠀⠀⠀⢀⣤⠾⢛⢴⠝⠂⢀⡠⢈⡡⢊⢆⠗⠁⠀⠀
⠒⠐⣠⣾⡗⠉⢀⣠⣴⠖⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⣀⢀⡀⠌⠻⢤⢀⠀⠈⠉⠀⢀⡤⠊⠁⡀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⢀⠠⡰⠐⠀⠀⠀⠀⡨⠰⠁⠐⠨⠰⠀⡠⠡⠁⢀⠔⠡⢨⡃⠂⡁⡂⠊⠀⠀⠀⠀⠀⠀⢀⠨⣡⣖⠗⠉⠀⠀⢀⢔⣡⡾⠉⠀⠀⣀⣠⠴
⡴⠋⢹⣿⣷⠾⣛⣉⢁⠠⠤⠤⢄⢐⣠⣴⠗⢬⢬⡩⣑⢔⡔⠦⡢⢙⠧⣵⢶⠟⢣⡀⠰⢃⠀⢀⠔⠁⠀⠀⠀⠀⠀⠀⠀⡠⢄⢎⠃⢎⢰⠄⡳⡀⠀⠀⠀⡠⠃⡔⠠⡀⠀⢔⠈⠀⠀⠅⠜⠨⡜⠠⢊⠄⠀⢀⠤⡪⠣⡂⡎⡂⣴⡫⠚⠁⠀⠀⡠⡊⣥⠞⢁⡠⡤⠲⡋⠥⢒⠉
⡰⣰⠵⣋⠕⣠⣤⣦⣦⡮⢘⣢⣶⠟⡋⠅⠍⠥⣡⢞⡕⠕⠭⠕⠈⢀⢀⡈⡑⡑⠄⡈⢇⠀⡧⠊⠀⠀⠀⠀⠀⠀⠀⡰⢝⡪⡪⠃⠀⠀⠁⠋⣂⠱⡀⠀⣰⢃⠀⠀⠑⢁⠜⠁⠀⢀⠔⡡⡊⡜⠄⠕⠀⡠⡸⡸⠜⠈⡪⡪⢊⢞⢕⠀⠀⢀⢔⡱⡴⣿⣗⠯⣓⠕⠂⠋⠻⡽⣕⠙
⠫⠅⠍⠅⠑⠉⠁⢀⣤⡾⡟⡋⡠⠠⠤⢄⣴⠽⠞⠁⠁⢀⡠⣔⠮⣋⢆⡱⡌⡎⢎⣢⢕⣚⠁⠀⠀⠀⠀⠀⠀⣠⢺⢫⢃⢇⠃⠀⠀⠀⠀⠀⠊⢂⢀⡼⠁⢂⡁⡆⡠⢃⠠⠀⠠⠊⡄⢊⢰⢙⠊⢀⣢⠪⡊⡡⠀⠀⠈⢔⡣⡑⢠⣤⡞⣣⡾⡞⣷⢿⢒⠝⠁⠀⠀⠀⠀⠈⠓⣗
⣄⣔⢐⠒⠢⣥⣾⠿⠋⠑⠐⠈⠈⢉⣼⡟⠎⠁⢀⡤⡖⠯⠚⠙⠉⠈⠀⠁⠁⠀⠉⠚⢻⣎⣗⡤⡀⠀⢀⣔⡞⢮⣡⣣⣣⣧⣠⣀⡀⠀⠀⠀⠀⢼⡞⠑⢔⢠⢀⠔⢁⡺⠀⢀⠔⢁⠔⢔⠇⠁⠀⡎⢇⢋⢔⢕⢁⠔⢔⠀⠂⠱⡙⢃⠶⡛⠗⢉⠆⢑⢔⠑⡅⠀⠀⠀⠀⠀⠀⠘
⠀⠀⠀⠀⠀⡈⣉⣀⢠⢠⡠⢄⣴⡿⠋⢀⡤⢞⡋⠄⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠽⣵⣢⣪⡙⠡⠑⢄⡢⡂⡉⢝⢟⠿⡶⣤⢔⠕⣀⠀⠀⡣⠃⡰⡑⠱⢀⠔⡡⠂⢁⡎⢠⡰⡹⠨⠢⠓⠁⢐⢕⢕⢄⠀⠀⢐⠐⡕⡉⠄⠀⠃⢊⡢⢁⠪⠀⠀⠀⠀⠀⠀⠀⠀
⡢⢊⠞⠯⡡⡊⡚⠪⠢⢅⡵⡿⠋⣴⢾⠻⡡⡁⡆⠑⠡⡀⡠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠮⣻⣲⢦⣱⣌⡮⡈⢨⢳⣔⢩⡿⢋⠀⠢⡰⡸⢀⠮⠡⡨⠀⠀⡠⠊⠀⠈⡠⢁⢁⢔⢵⡢⡀⠀⠀⠑⠡⢳⡀⠀⠡⠂⢌⢆⠀⠀⠰⡑⢐⠕⠀⢨⠀⠀⠀⢠⠀⠀⠀
⠈⠁⠁⣁⣀⡀⠄⢤⣴⠯⣫⣞⣟⣑⠁⠁⠀⠁⡄⠔⢈⠤⢒⠡⢂⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠑⠋⠿⢿⣦⡐⠁⠀⠈⡰⠀⢠⠍⡔⣃⢅⠅⠀⠀⠔⠀⠀⢀⠜⠀⠀⠨⢑⢗⡕⡯⣀⠀⠀⠀⠀⠑⡀⠀⡨⡊⠈⠀⠀⠀⡊⢬⡂⠀⠨⠀⠀⠀⠀⢂⠀⠀
⠉⠁⠁⠀⠀⡀⣰⢿⢣⠝⠉⢰⢿⡂⠀⠀⠀⠀⠀⠉⠔⠨⢠⠈⠂⠁⡀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢌⠙⡳⠧⡦⠁⡀⡀⠀⠈⣀⢆⢤⢠⠰⠤⠤⢢⣽⡑⡀⢀⢄⠀⠀⠙⢼⢵⢱⠢⠀⠀⠀⠁⣰⠊⠀⠀⠀⡀⠄⠪⡘⡆⠀⠀⠂⠀⠀⠀⠘⡄⠀
⠲⢤⣉⡉⣊⢾⢱⡱⠂⠠⡨⠮⡻⣊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⡡⠂⠅⡂⠄⠄⠠⠀⠀⠀⠀⠀⠀⠀⠀⡀⡄⡒⡑⠌⠂⠁⠀⡀⢄⠢⡣⡪⢪⢙⢤⢊⠆⠃⠀⠀⠀⠁⠀⠀⠈⠐⣵⡀⠀⠀⠀⠑⢳⠵⠁⠀⡠⣪⡺⠀⠀⢀⠴⠱⢨⠈⠀⡇⠀⠀⠅⠀⠀⠀⠀⠓⡀
⢁⣀⡀⣴⠟⡰⠁⡄⠀⢀⣀⠈⡄⣢⡣⡄⢂⢀⡀⡀⠀⠀⠀⠀⠀⠀⠐⠀⠁⠑⡁⠅⠊⠀⠀⠀⠀⠀⠀⢀⠔⠜⠈⠀⠁⠀⠀⡀⢔⠐⠈⡠⡪⢪⢘⢴⠑⠁⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠈⠦⡀⢀⡀⠀⠀⠀⢀⠔⢵⡯⡧⠀⣐⠝⡨⠪⠈⠀⠀⢪⠀⠀⠅⠀⠀⠀⠀⢸⢠
⠀⠀⠺⣯⠞⣠⠞⡢⣪⢊⢐⢑⠱⠡⡸⡽⡭⡢⡓⠶⢄⡀⠀⠀⠀⠀⠀⠀⠀⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⣐⠌⠂⠀⢀⠎⢊⡜⠔⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⢑⡠⢐⢐⠐⠀⢹⡷⠂⠀⢀⠔⡥⢫⢃⢯⡏⢰⠰⠊⡠⠁⠅⠀⠀⢘⠄⠀⠅⠀⠀⠀⠠⠀⡆
⣥⢉⠸⡡⠎⣃⢎⠔⠡⡑⡢⡎⡨⣪⢜⠵⠯⠎⠮⠕⢯⣅⣀⡤⣠⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⠋⠀⠀⠀⣰⢉⠔⠉⠀⢀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⠊⡮⡐⢐⠄⠀⡸⡝⢀⢔⣡⠞⡠⡣⠀⣗⡇⠂⢀⠔⠀⠀⠡⠀⠀⠀⡅⠀⠨⠀⠀⠀⠀⠁⣒
⢈⣁⡁⣜⠕⡱⡁⡪⡨⡪⡪⡊⠇⠕⠁⢁⢀⡀⠄⠤⠄⠊⢟⢞⣪⡲⢃⣀⣔⢮⣪⡶⣜⢴⡲⣪⢣⣣⢓⢩⠔⠄⠀⠀⠀⠀⢀⢾⢁⡈⠀⢀⠔⡢⠀⠀⠀⠀⠀⠀⠀⠑⣔⠌⡂⠅⡺⣗⠝⠈⢠⠎⠠⣢⢗⠍⣰⠪⠀⠀⣿⡂⡠⠂⠀⢀⠠⡀⠕⠢⠀⢙⠀⠨⠀⠀⠀⠀⠁⡳
⠀⢀⠪⠂⡪⢪⡨⡺⠪⠨⠒⠒⠈⠈⠉⠀⠀⠀⠀⠀⠀⠀⠀⠁⠁⠂⡩⢕⢙⠝⡅⡍⣈⢥⢍⢋⢯⡉⡍⠥⠕⠚⢛⡛⠶⣲⢎⠉⠁⢀⢔⠅⡮⡂⠀⠀⠀⠈⡄⠀⡠⢂⠕⢇⠅⡪⡠⢻⡁⡤⠃⡰⡕⡑⢁⠼⡑⠁⠀⢨⡷⠀⢀⢠⢢⢱⡑⣊⠔⡊⡐⠘⠆⢘⠀⠀⠀⠀⠀⢎
⠒⠈⠈⠁⠐⡣⠃⠈⠀⠀⠀⠀⠀⠀⠀⢀⣀⠀⠤⢤⣐⢐⢒⣥⠩⢱⢖⠜⠸⠵⠡⠙⣊⡂⡁⠥⠤⠐⠒⠂⠁⠉⠀⠀⢀⠘⣾⡴⡢⠂⣗⢵⢎⢢⠀⠀⠀⠀⠐⡍⡔⢁⠔⢍⢗⢜⠠⢪⡗⣔⠡⡣⠂⣴⠪⡪⠀⠀⠀⠰⢸⢢⠳⠉⠪⢒⠩⢈⠝⠪⠐⠁⢣⠀⠁⠀⠀⠀⠀⠐
⠀⠀⠀⠀⢈⢀⡀⠄⠤⣐⣐⠢⡪⢬⠱⡢⣒⠝⠕⠌⠊⡒⣁⡁⠅⠥⠐⠒⠂⠊⠁⠁⠀⠀⢀⢀⡀⢄⢤⢰⢐⣢⠭⢕⠻⢛⢡⡯⠖⠉⡠⡳⠢⡱⢥⠀⠀⢀⠌⡪⡎⡔⡡⢃⠜⠇⠁⡫⠺⠁⠊⠀⡘⢅⠣⠂⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠈⠂⠁⠀⠀⠀⠐⡇⠀⠀⠀⠀⠀⢉
⣒⡤⡍⠭⢖⣂⠪⠯⠥⠈⠓⣁⡈⡩⠤⠄⠐⠒⠀⠉⠉⠀⠀⠀⣀⢀⠠⢤⡠⡐⠶⠄⢍⢛⢀⣍⣩⠴⢒⠩⠅⠂⢈⢄⡢⠓⠉⢁⡢⠊⡊⡠⢐⢡⠉⠈⠲⣐⢜⢎⠎⣮⡢⠁⠀⠀⠀⡠⡣⠇⠀⡨⡊⡅⠇⠀⠀⠀⠀⠀⢘⠢⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡀⠀⠀⡠⡠⢅
⠒⣀⣁⠩⠤⠄⠒⠒⠈⠁⠁⠀⠀⠀⣀⣀⠠⢤⣔⠐⠲⠌⢊⣓⡐⠡⠭⠐⠐⢂⣁⡭⡴⠚⣉⠥⠔⠊⠀⢀⢄⣪⠲⠋⠀⠀⢀⠅⡇⢌⠢⡪⢪⣨⢖⣊⡁⠐⢵⠕⠁⠀⠀⠀⠀⠀⠀⢔⠊⠀⠠⡪⢨⠒⠀⠀⠀⠀⠀⠀⠀⡇⠁⠂⡑⢠⢔⡠⠀⠀⠀⠀⠀⡘⠇⢀⢬⠎⠢⡥
⠁⠀⠀⠀⡀⣀⢠⢠⡠⡒⠔⠕⢙⢂⡂⠥⠡⠂⠒⠐⠉⠁⠀⡀⢀⣠⡴⣖⠟⠝⡨⡰⠒⠉⠀⠀⡀⢄⡪⡶⠓⠁⠀⠀⠀⠀⠀⡵⢕⢕⣭⢞⠏⠚⠜⣖⣜⢔⠡⡀⠀⠀⠀⡠⠀⠀⠀⢺⢄⠄⠨⡢⠑⠀⠀⠀⠀⠀⠀⠀⠀⣃⠀⠀⢴⢁⢂⢪⡃⠀⠀⢀⣴⢁⢐⠲⠋⠵⠋⠀
⠦⠡⢙⣃⠨⠬⠡⠐⠒⠀⠉⠉⠀⢀⣀⢀⠤⠄⠐⠒⠂⠉⡁⣤⠿⢛⠪⡐⠎⠃⠁⠀⠀⢀⠄⣪⣔⠟⠊⠀⠀⠀⠀⠀⠀⢠⡪⣭⢷⠻⠉⢁⡀⡠⠤⣈⡐⠫⠝⣦⣕⣣⡊⡐⡐⡀⠀⢸⠥⢀⠬⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠊⢔⠔⡊⡢⠁⠀⣰⠟⡡⠈⠀⠀⠀⠀⠀⠀
⠁⠁⠁⠀⣀⣀⠠⠤⠐⠐⠂⠉⠈⠀⠀⠀⠀⠀⢀⣠⡢⢗⠩⢐⠬⠂⠁⠀⠀⠀⢀⠠⣊⡴⣟⠕⠁⠀⠀⠀⠀⠀⠀⠀⣰⢧⠟⡕⠡⢭⡑⠱⣢⣑⠱⠬⠘⠑⠁⡡⡊⠗⡳⢮⣎⡀⢀⣷⠁⢜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢈⣇⢕⠅⣊⡔⠀⣜⣜⠃⠂⠀⠀⠀⠀⠀⢠⡤⠢
⠴⠌⡩⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠰⡲⣰⠼⢚⠩⢐⣨⠔⠊⠁⠀⠀⠀⠀⣠⢰⡵⣟⢽⠜⠁⠀⠀⠀⠀⠀⠀⡠⢔⢭⠣⠫⠬⠼⠵⠢⠭⠥⠤⠤⠴⠦⠬⠭⠤⠤⠤⠬⠨⠤⠬⠭⢭⡇⢂⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡱⢛⡕⡡⠒⢀⣼⠊⠀⠀⠀⠀⠀⠀⢀⡜⡅⡪⠨
⠀⠀⠙⢮⣮⡊⢕⠑⢆⠠⣀⣀⣦⢞⠫⠁⠈⠀⠐⢈⠀⠀⠐⡀⠄⡀⣀⣬⣿⡫⡫⠎⠁⠀⠀⠀⠀⠀⡠⡰⢍⢎⠚⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡠⢼⠔⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢪⢂⠔⠌⣠⡟⠁⠀⠀⠀⠀⠀⠀⡢⠟⠔⠑⠘⠈
⠀⠀⠀⠀⠑⢏⣎⢕⣢⡵⡟⠭⡂⡁⠔⠈⠠⡂⠈⠀⠄⠂⡀⠈⢦⣻⢟⡧⣳⠋⠁⠀⠀⠀⠀⢀⢔⢌⢖⠕⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⢊⢔⡇⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡵⡓⢀⢊⣾⠏⠀⠀⠀⠀⠀⠀⡠⠊⠀⠀⠀⣀⣀⣀
⢀⡀⠀⠀⠀⠠⠿⢿⣯⣋⠢⡁⠌⠢⡀⠑⢀⠈⠠⠁⡀⠐⣠⣶⢻⠝⠑⢏⠀⠀⠀⠀⠀⡠⣊⡴⡣⠗⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢔⢡⣫⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡻⢠⣳⡿⠃⠀⠀⠀⠀⠀⢠⣾⣶⣿⣿⣿⣿⣿⣿⣿
⣒⡔⣴⣐⢄⠀⢐⣌⡙⢷⣷⢬⡀⢅⠨⠂⠄⠑⠄⠈⢶⡿⣫⠚⢁⠠⠀⠈⠀⠀⢀⠄⣪⠶⡣⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⢎⠵⣹⡅⡐⠀⠀⡀⠂⠀⠀⠀⠀⠀⠀⠀⢀⡶⡱⣿⢿⡤⣤⣠⣀⡀⣀⢬⣺⣿⡿⣻⣿⣿⣿⣿⣿⣿
⡜⡍⣇⠷⡹⣰⣨⡪⢞⣧⡻⣿⣮⢢⠐⢈⠨⡐⣠⠷⡭⠊⠂⡐⢀⠀⠊⠠⢀⠔⣡⢾⡹⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣐⠕⠁⡡⣞⣇⠀⢀⠆⠀⠀⠀⠀⠀⠀⠀⠀⢀⡞⢝⣾⠿⣾⣾⣺⣙⣕⢿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣾
⠈⠈⠈⠘⠚⢌⢿⣮⡷⣝⣟⣾⡻⣷⣝⣤⢴⢞⠯⡋⠄⠁⠄⠀⠂⠐⣀⢌⣵⢟⡵⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠁⠈⠱⣑⠴⢁⠂⠀⠀⠀⠀⠀⠀⠀⢀⢮⢮⣿⣵⡿⣹⣿⢯⣿⣿⣿⣿⣿⣷⣿⢿⣻⣿⣿⣿⣿⣿⣿
    </pre></div>
    <nav>
      <a href="/" class="nav-link">Discover</a>
      <a href="/library" class="nav-link">Library</a>
      <a href="/account" class="nav-link">Account</a>
      <a href="/settings" class="nav-link">Settings</a>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <aside id="wp-left" class="wp-card"><img alt=""><span class="wp-credit"></span></aside>
  <aside id="wp-right" class="wp-card"><img alt=""><span class="wp-credit"></span></aside>

  <script src="/static/app.js"></script>
</body>
</html>
